// buttons.less
// -----------------------------------------------------------------

.btn-strip {
  padding: 0;
  border: 0;
  background: transparent;
}

.btn-primary {
  background-color: #6E9C5C;
  #gradient > .vertical(#80B068,#659457);
  border-color: transparent;
  font-size: 24px;
  font-weight: 700;
  &:hover {
    background: #659457;
    border-color: transparent;
  }
  &:active {
    background: #659457;
    border-color: transparent;
    &:hover {
      background: #659457;
      border-color: transparent;
    }
  }
}

.btn-secondary {
  background-color: #459FCD;
  color: #fff;
  #gradient > .vertical(#4CBBE0,#4089BD);
  border-color: transparent;
  font-size: 24px;
  font-weight: 700;
  &:hover {
    background: #4089BD;
    color: #fff;
    border-color: transparent;
  }
}


.woocommerce {
  #respond input#submit,
  a.button,
  button.button,
  input.button {
    .btn();
    .btn-default();
    font-family: @font-family-sans-serif;
    font-weight: 600;
  }
}