// book-now-banner.less
// -----------------------------------------------------------------

.book-now-banner {
  background-color: @brand-brown;
  background-image: url('assets/img/bg-booking-banner.png');
  background-size: cover;
  background-position: 50% 50%;
  color: #fff;
  padding: 100px 0;
  h2 {
    font-family: @font-family-sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin: 8px 0 0;
  }
  p {
    font-size: 18px;
    margin: 0;
    strong {
      font-family: @font-family-sans-serif;
    }
  }
  .btn-book {
    .btn-primary();
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    width: 100%;
    font-size: 24px;
    &:after {
      content: '';
      display: inline-block;
      width: 14px;
      height: 24px;
      background-image: url('assets/img/icon-chevron-r-white.svg');
      background-size: cover;
      margin-left: 15px;
      vertical-align: middle;
      top: -4px;
      position: relative;
    }
  }
}


// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {

  .book-now-banner {
    h2 {
      margin-top: 0;
    }
  }

}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {

  .book-now-banner {
    padding: 80px 0;
    h2 {
      margin-bottom: 15px;
      margin-top: 0;
    }
    p {
      margin-bottom: 15px;
    }
  }

}

// Up to tablet
@media (max-width: 767px) {

  .book-now-banner {
    padding: 40px 0;
    h2 {
      margin-bottom: 15px;
      margin-top: 0;
    }
    p {
      margin-bottom: 15px;
    }
  }

}

// Up to landscape phone
@media (max-width: 480px) {

  .book-now-banner {
    .btn-book {
      font-size: 18px;
      &:after {
        display: none;
      }
    }
  }

}