// cart.less
// -----------------------------------------------------------------

.woocommerce-cart {
  .empty-cart {
    h2 {
      font-family: @font-family-sans-serif;
      font-size: 24px;
      font-weight: 700;
    }
    margin-bottom: 60px;
  }
  .title-area {
    margin-top: 15px;
    margin-bottom: 40px;
    .page-title {
      margin: 0;
    }
    .checkout-top {
      text-align: right;
      position: relative;
      top: -10px;
      .checkout-button {
        .btn();
        .btn-primary();
        font-family: @font-family-sans-serif;
        width: 100%;
      }
    }
  }
  // Cart items
  .shop_table {
    thead {
      tr {
        th {
          font-family: @font-family-sans-serif;
          padding: 0 15px 15px;
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 2.5px;
        }
      }
    }
    tbody {
      tr {
        td {
          background: @brand-off-white;
          padding: 15px;
          border: 0;
          .amount {
            font-family: @font-family-sans-serif;
            font-weight: 500;
          }
          .input-text {
            .form-control();
            height: 50px;
            font-size: 24px;
            font-weight: 600;
            width: 80px;
          }
        }
        .product-name {
          font-size: 16px;
          a {
            font-family: @font-family-sans-serif;
            font-weight: 600;
            margin-bottom: 15px;
            display: block;
          }
          dl {
            dt {
              font-family: @font-family-sans-serif;

            }
            dd {

            }
          }
        }
        .product-thumbnail {
          a {
            display: inline-block;
            border: 5px solid rgba(0,0,0,.1);
            img {
              height: 80px;
            }
          }
        }
        .product-remove {
          .remove {
            color: #fff;
            background: #bbb;
            border-radius: 50%;
            height: 18px;
            width: 18px;
            line-height: 16px;
            display: inline-block;
            font-weight: 700;
            padding: 0;
            text-align: center;
            font-family: @font-family-sans-serif;
            &:hover {
              background: @brand-danger;
              text-decoration: none;
            }
          }
        }
        &:nth-child(even) td {
          background: darken(@brand-off-white, 2%);
        }
      }
    }
  }
  // Cart Actions
  .actions {
    .clearfix();
    .coupon {
      float: left;
      label {
        display: none;
      }
      .form-control {
        font-family: @font-family-sans-serif;
      }
      .btn {
        font-family: @font-family-sans-serif;
        font-weight: 600;
      }
    }
    .btn-update-cart {
      .btn-sm();
      float: right;
    }
  }
  // Cart Totals
  .cart-collaterals {
    margin-bottom: 30px;
    .cart_totals {
      h2 {
        font-size: 24px;
        font-family: @font-family-sans-serif;
        font-weight: 700;
        margin-bottom: 30px;
      }
      table {
        margin-bottom: 50px;
        width: 100%;
        tr {
          th,
          td {
            vertical-align: top;
            padding: 12px 15px;
          }
          th {
            font-family: @font-family-sans-serif;
            text-transform: uppercase;
            letter-spacing: 2.5px;
            font-size: 13px;
          }
          td {
            background: @brand-off-white;
          }
          &:nth-child(odd) {
            td {
              background: darken(@brand-off-white, 3%);
            }
          }
        }
        .cart-subtotal,
        .order-total {
          .amount {
            font-family: @font-family-sans-serif;
            font-weight: 700;

          }
        }
        .shipping {
          p {
            font-size: 16px;
          }
          ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            font-family: @font-family-sans-serif;
            input {
              margin-right: 3px;
            }
            label {
              font-weight: 500;
              .amount {
                font-weight: 700;
              }
            }
          }
          td[data-title="Shipping"] {
            font-family: @font-family-sans-serif;
            .amount {
              font-weight: 700;
            }
          }
        }
        .woocommerce-shipping-calculator {
          font-family: @font-family-sans-serif;
          font-weight: 600;
        }
      }
      .wc-proceed-to-checkout {
        width: 100%;
        .checkout-button {
          .btn();
          .btn-primary();
          display: block;
        }
      }
    }
    .shipping-calculator-form {
      select,
      input {
        .form-control();
        .input-sm();
      }
      .button {
        .btn-sm();
      }
    }
  }
  .cart-accepted-payments {
    background: @brand-off-white;
    padding: 15px;
    margin-top: 30px;
    text-align: center;
    img {
      height: 30px;
      margin-left: 5px;
      vertical-align: middle;
      &:first-child {
        height: 40px;
        margin-right: 15px;
      }
    }
  }
}


// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {}

// Up to tablet
@media (max-width: 767px) {

  .woocommerce-cart {
    .title-area {
      margin-top: 0;
      margin-bottom: 30px;
    }
    // Cart items
    .shop_table {
      width: 100%;
      thead {
        tr {
          th {
            display: none;
          }
        }
      }
      tbody {
        tr {
          td {
            display: block;
            padding: 5px 15px;
            text-align: right;
            .input-text {
              display: inline-block;
              width: 60px;
              height: 36px;
              padding: 3px 12px;
              font-size: 18px;
              line-height: 1em;
            }
          }
          .product-remove {
            .remove {
              background: @brand-danger;
            }
          }
          .product-remove,
          .product-name {
            text-align: left;
          }
          .product-name {
            a {
              margin-bottom: 0;
            }
          }
          .product-price,
          .product-quantity,
          .product-subtotal {
            &:before {
              content: attr(data-title) ": ";
              float: left;
              font-family: @font-family-sans-serif;
              font-weight: 600;
              font-size: 16px;
              margin-top: 2px;
            }
          }
        }
      }
    }
    // Cart Actions
    .actions {
      padding-top: 15px !important;
      padding-bottom: 15px !important;
      .coupon {
        float: none;
        margin-bottom: 15px;
        .input-group {
          width: 100%;
          display: block;
        }
        .form-control {
          width: 100%;
          display: block;
          float: none;
          margin-bottom: 8px;
        }
        .input-group-btn {
          width: 100%;
          display: block !important;
          float: none;
        }
        .btn {
          width: 100%;
          font-size: 16px;
        }
      }
      .btn-update-cart {
        float: none;
        width: 100% !important;
      }
    }
    // Cart Totals
    .cart-collaterals {
      .cart_totals {
        h2 {
          margin-top: 0;
        }
        table {
          tr {
            th {
              display: none;
            }
            td {
              display: block;
              width: 100%;
              text-align: right;
              padding: 7.5px 15px;
              &:before {
                float: left;
                font-weight: 600;
                font-family: @font-family-sans-serif;
                font-size: 16px;
                margin-top: 2px;
              }
            }
            &.cart-subtotal td:before {
              content: 'Subtotal:';
            }
            &.shipping td:before {
              content: 'Shipping:';
            }
            &.order-total td:before {
              content: 'Total:';
            }
          }
        }
      }
    }
    .cart-accepted-payments {
      img {
        margin-bottom: 10px;
      }
    }
  }

}

// Up to landscape phone
@media (max-width: 480px) {

  .woocommerce-cart {
    .woocommerce > form {
      margin-left: -15px;
      margin-right: -15px;
    }
    // Cart Totals
    .cart-collaterals {
      margin-left: -15px;
      margin-right: -15px;
      .cart_totals {
        h2 {
          padding: 0 15px;
        }
        .wc-proceed-to-checkout {
          padding: 0 15px;
        }
      }
    }
  }

}