// checkout.less
// -----------------------------------------------------------------

.woocommerce-checkout {
  .order-again {
    display: none;
  }
  .required {
    color: @brand-danger;
    border: 0 !important;
    text-decoration: none;
    cursor: default;
  }
  .checkout_coupon {
    .input-text {
      .form-control();
      width: 300px;
    }
  }
  .select2-drop,
  .select2-container {
    font-family: @font-family-sans-serif;
  }
  .select2-container {
    margin: 0;
    height: auto;
  }
  .woocommerce-billing-fields,
  .woocommerce-shipping-fields {
    h3 {
      font-family: @font-family-sans-serif;
      font-size: 24px;
      font-weight: 700;
      label {
        padding-left: 25px;
        .input-checkbox {
          margin-left: -25px;
        }
      }
    }
    label {
      display: block;
      font-family: @font-family-sans-serif;
      font-weight: 500;
      font-size: 16px;
    }
    .input-text,
    textarea {
      .form-control();
      font-family: @font-family-sans-serif;
    }
    .form-row {
      margin-bottom: 25px;
      .clearfix();
    }
    .form-row-first,
    .form-row-last {
      float: left;
      width: 47.5%;
    }
    .form-row-first {
      margin-right: 5%;
    }
    .validate-state {
      float: none;
      display: inline-block;
    }
    .validate-postcode {
      float: none;
      display: inline-block;
    }
    .woocommerce-invalid {
      .has-error();
    }
    #billing_state_field,
    #shipping_state_field {
      display: block;
      .state_select {
        border: 0;
        padding: 0;
        border-radius: 0;
      }
      .select2-selection--single {
        height: 36px !important;
        .select2-selection__rendered {
          line-height: 36px !important;
        }
      }
    }
  }
  .woocommerce-shipping-fields,
  .woocommerce-additional-fields {
    h3 {
      label {
        font-family: @font-family-sans-serif;
        font-size: 24px;
        font-weight: 700;
        display: inline-block;
        margin-right: 10px;
      }
      input {

      }
    }
    label {
      display: block;
      font-family: @font-family-sans-serif;
      font-weight: 500;
      font-size: 16px;
    }
    .input-text,
    textarea {
      .form-control();
      font-family: @font-family-sans-serif;
    }
    .form-row {
      margin-bottom: 25px;
      .clearfix();
    }
    .form-row-first,
    .form-row-last {
      float: left;
      width: 47.5%;
    }
    .form-row-first {
      margin-right: 5%;
    }
    .validate-state {
      float: none;
      display: inline-block;
    }
    .validate-postcode {
      float: none;
      display: inline-block;
    }
    .woocommerce-invalid {
      .has-error();
    }
    .country_select,
    .state_select {
      border: 0;
      padding: 0;
      border-radius: 0;
    }
  }
  // Order Review
  .order-review {
    border: 4px solid @brand-warning;
    h3 {
      font-family: @font-family-sans-serif;
      font-size: 24px;
      font-weight: 700;
      padding: 15px;
      margin-top: 0;
    }
    .table {
      margin: 0;
      border-bottom: 2px solid #ddd;
      thead {
        tr {
          th {
            font-family: @font-family-sans-serif;
            padding: 0 15px 15px;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 2.5px;
          }
        }
      }
      tbody {
        .cart_item {
          background: @brand-off-white;
          td {
            padding: 15px;
            border: 0;
            .amount {
              font-family: @font-family-sans-serif;
              font-weight: 500;
            }
            .input-text {
              .form-control();
              height: 50px;
              font-size: 24px;
              font-weight: 600;
              width: 80px;
            }
          }
          .product-name {
            font-size: 16px;
            font-family: @font-family-sans-serif;
            display: block;
            min-width: 200px;
            .product-qty {
              font-weight: 600;
            }
            dl {
              font-size: 13px;
              margin-top: 10px;
              margin-bottom: 0;
              dt {
                font-family: @font-family-sans-serif;

              }
              dd {

              }
            }
          }
          .product-remove {
            .remove {
              color: #fff;
              background: @brand-danger;
              border-radius: 50%;
              height: 18px;
              width: 18px;
              line-height: 14px;
              display: inline-block;
              font-weight: 700;
              padding: 0;
              text-align: center;
              font-family: @font-family-sans-serif;
              &:hover {
                background: darken(@brand-danger, 10%);
                text-decoration: none;
              }
            }
          }
          &:nth-child(even) {
            background: darken(@brand-off-white, 2%);
          }
        }
      }
      tfoot {
        th {
          font-family: @font-family-sans-serif;
          text-transform: uppercase;
          letter-spacing: 2.5px;
          font-size: 13px;
          padding: 10px 15px;
        }
        p {
          font-size: 14px;
        }
        .amount {
          font-family: @font-family-sans-serif;
          font-weight: 700;
        }
      }
    }
    .shipping {
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        width: 250px;
        input {
          margin-right: 3px;
        }
        label {
          font-weight: 400;
          font-family: @font-family-sans-serif;
        }
      }
    }
    .woocommerce-checkout-payment {
      .payment_methods {
        list-style-type: none;
        padding: 15px;
        margin: 0;
        & > li {
          border-radius: 5px;
          background: @brand-off-white;
          padding: 15px;
        }
        label {
          font-family: @font-family-sans-serif;
        }
        .payment_method_stripe {
          .button {
            margin-bottom: 15px;
          }
          & > label {

          }
          .input-text {
            .form-control();
          }
          .form-row-first,
          .form-row-last {
            width: 50%;
            display: inline-block;
          }
          .form-row-first {
            padding-right: 7.5px;
          }
          .form-row-last {
            padding-right: 7.5px;
          }
        }
        .stripe_new_card {
          label {
            display: block;
            font-weight: 500;
          }
          input {
            .form-control();
            width: 50%;
            font-family: @font-family-sans-serif;
          }
          .form-row-wide {
            input {
              width: 100%;
            }
          }
        }
        p {
          font-size: 16px;
        }
      }
    }
    .place-order {
      padding: 15px;
      .terms {
        padding-left: 25px;
        .input-checkbox {
          margin-left: -25px;
        }
      }
    }
    .button {
      .btn();
      .btn-primary();
      display: block;
      width: 100%;
    }
  }
}


// Pay for Trip
.woocommerce-order-pay {
  .shop_table {
    .table();
    font-family: @font-family-sans-serif;
    th {
      text-transform: uppercase;
      letter-spacing: 2.5px;
      font-size: 13px;
      padding: 10px 15px;
    }
  }
  .button.alt {
    .btn();
    .btn-primary();
  }
  .payment_methods {
    list-style-type: none;
    padding: 0;
    margin: 0 0 30px;
    & > li {
      border-radius: 5px;
      background: @brand-off-white;
      padding: 15px;
    }
    label {
      font-family: @font-family-sans-serif;
    }
    .payment_method_stripe {
      & > label {

      }
    }
    .stripe_new_card {
      label {
        display: block;
        font-weight: 500;
      }
      input {
        .form-control();
        width: 50%;
        font-family: @font-family-sans-serif;
      }
      .form-row-wide {
        input {
          width: 100%;
        }
      }
    }
    p {
      font-size: 16px;
    }
  }
}


// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {

  .woocommerce-checkout {
    .order-review {
      .shipping {
        ul {
          width: auto;
        }
      }
    }
  }

}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {}

// Up to tablet
@media (max-width: 767px) {

  .woocommerce-checkout {
    .checkout_coupon {
      margin-bottom: 30px;
      .input-text {
        width: 100%;
      }
    }
    .woocommerce-billing-fields {
      h3 {
        margin-top: 0;
      }
      .form-row {
        margin-bottom: 15px;
      }
      .form-row-first,
      .form-row-last {
        float: none;
        width: 100%;
      }
      .form-row-first {
        margin-right: 0;
      }
      .input-text {
        height: 36px;
        font-size: 16px;
      }
    }
    .woocommerce-shipping-fields {
      h3 {
        label {
          font-size: 18px;
        }
      }
      .form-row {
        margin-bottom: 15px;
      }
      .form-row-first,
      .form-row-last {
        float: none;
        width: 100%;
      }
      .form-row-first {
        margin-right: 0;
      }
      .input-text {
        height: 36px;
        font-size: 16px;
      }
      #order_comments {
        height: 60px;
      }
    }
    // Order Review
    .order-review {
      border: 0;
      h3 {
        padding: 15px 0;
      }
      .woocommerce-checkout-review-order {
        margin-left: -15px;
        margin-right: -15px;
      }
      .table {
        tbody {
          .cart_item {
            .product-name {
              min-width: 0;
              width: 50%;
              display: table-cell;
            }
          }
        }
      }
      .shipping {
        ul {
          width: auto;
        }
      }
      .place-order {
        .terms {
          padding-left: 25px !important;
          .input-checkbox {
            margin-left: -25px;
          }
        }
      }
    }
  }

}

// Up to landscape phone
@media (max-width: 480px) {}
