// checkout.less
// -----------------------------------------------------------------

.woocommerce-checkout {
  .woocommerce-billing-fields {
    h3 {
      font-family: @font-family-sans-serif;
      font-size: 24px;
      font-weight: 700;
    }
    label {
      display: block;
      font-family: @font-family-sans-serif;
      font-weight: 500;
      font-size: 16px;
    }
    .input-text,
    textarea {
      .form-control();
    }
    .form-row {
      margin-bottom: 25px;
    }
  }
}


// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {}

// Up to tablet
@media (max-width: 767px) {}

// Up to landscape phone
@media (max-width: 480px) {}