// home.less
// -----------------------------------------------------------------

.home {
  // SECTION STYLES
  // ------------------
  section {
    padding: 60px 0;
    .section-title {
      font-size: 60px;
      font-weight: 700;
      text-align: center;
      margin: 0 0 45px;
    }
    .section-quote {
      border: 0;
      padding: 0;
      margin: 0 auto 60px;
      width: 94%;
      .col-md-1 {
        width: 12%;
      }
      .col-md-11 {
        width: 88%;
      }
      img {
        .img-responsive();
        border-radius: 50%;
        border: 3px solid #fff;
      }
      p {
        font-size: 21px;
        font-style: italic;
        margin: 10px 0 0;
      }
      footer {
        font-size: 24px;
        color: @brand-green;
        font-weight: 700;
        font-family: @font-family-sans-serif;
        span {
          color: @text-color;
          font-weight: 500;
        }
        cite {
          font-size: 14px;
          color: @text-color;
          font-weight: 500;
          font-style: normal;
        }
        &:before {
          content: '';
          display: none;
        }
      }
    }
    .section-book {
      text-align: right;
      margin: 40px 0 0;
    }
    .btn-book {
      .btn-primary();
      padding-left: 20px;
      padding-right: 20px;
      &:after {
        content: '';
        display: inline-block;
        width: 14px;
        height: 24px;
        background-image: url('assets/img/icon-chevron-r-white.svg');
        background-size: cover;
        margin-left: 30px;
        vertical-align: middle;
        top: -4px;
        position: relative;
      }
    }
  }
  // HERO
  // ------------------
  .home-hero {
    padding: 0;
    border-bottom: 7px solid #999490;
    background: @brand-brown;
    .hero-panel {
      height: 100vh;
      width: 100%;
      background-size: cover;
      background-position: 50% 50%;
      .hero-panel-gradient {
        height: 100%;
        #gradient > .horizontal(rgba(0,0,0,.43),rgba(0,0,0,0), 0%, 50%);
      }
      .container {
        height: 100%;
        position: relative;
      }
      .hero-panel-content {
        color: #fff;
        position: absolute;
        bottom: 125px;
        left: 0;
        width: 60%;
        .subtitle {
          font-family: @font-family-sans-serif;
          font-weight: 700;
          font-size: 16px;
          text-transform: uppercase;
        }
        h1 {
          font-size: 75px;
          font-weight: 700;
          line-height: 1em;
          margin: 0 0 40px;
        }
        .btn-secondary {
          border: 0;
          font-size: 24px;
          font-weight: 700;
        }
        .subtext {
          display: block;
          font-style: italic;
          font-size: 21px;
          font-weight: 500;
          margin-top: 10px;
          a {
            color: #fff;
            text-decoration: underline;
            &:hover {
              color: rgba(255,255,255,.8);
            }
          }
        }
      }
    }
  }
  // TRUST
  // ------------------
  .home-trust {
    background: #F7F5F4;
    // FAMILY
    .home-family {
      padding: 0 0 60px;
      font-size: 24px;
      background-image: url('assets/img/dotted-line-horiz.svg');
      background-position: 0 100%;
      background-repeat: repeat-x;
      margin-bottom: 50px;
      .family-photo {
        border-radius: 8px;
        border: 4px solid @brand-brown;
        .photo {
          .img-responsive();
          border-radius: 4px 4px 0 0;
        }
        .bro-logo {
          background: @brand-brown;
          display: block;
          text-align: center;
          padding: 15px;
        }
      }
    }
    // RELAX
    .home-relax {
      .relax-block {
        .relax-block-img {
          img {
            .img-responsive();
          }
          &:after {
            content: '';
            display: block;
            height: 4px;
            width: 90%;
            margin: 27px auto;
            background: url('assets/img/dotted-line-horiz.svg');
          }
        }
        p {
          margin: 0;
        }
      }
    }
  }
  // TRIPS
  // ------------------
  .home-trips {
    color: #fff;
    background-image: url('assets/img/home-bg-trips.jpg');
    background-size: cover;
    background-position: 50% 50%;
    border-top: 7px solid #273323;
    border-bottom: 7px solid #273323;
    .section-quote {
      footer {
        span,
        cite {
          color: #fff;
        }
      }
    }
    .home-trip {
      margin-bottom: 50px;
      min-height: 400px;
      .trip-block {
        height: 300px;
        background-size: cover;
        background-position: 50% 50%;
        margin-bottom: 15px;
        display: block;
        color: #fff;
        text-decoration: none;
        box-shadow: none;
        transition: box-shadow 150ms;
        &:hover {
          box-shadow: 0 1px 10px rgba(0,0,0,.3);
          h1 {
            background-position: 0 0;
            &:after {
              opacity: 1;
              right: 0;
            }
          }
        }
        h1 {
          font-family: @font-family-sans-serif;
          font-weight: 700;
          font-size: 21px;
          height: 54px;
          line-height: 54px;
          padding: 0 15px;
          background-size: 200% auto;
          transition: background-position 150ms;
          background-position: 100% 0;
          margin: 0;
          &:after {
            content: '';
            display: inline-block;
            width: 12px;
            height: 20px;
            background-image: url('assets/img/icon-chevron-r-white.svg');
            background-size: cover;
            margin-left: 15px;
            vertical-align: middle;
            opacity: 0;
            transition: 150ms;
            position: relative;
            right: -30px;
            top: -2px;
          }
        }
      }
    }
    .col-md-4 {
      &:nth-child(1) .home-trip .trip-block h1 {
        #gradient > .horizontal(rgba(170,113,68,1),rgba(170,113,68,.58));
      }
      &:nth-child(2) .home-trip .trip-block h1 {
        #gradient > .horizontal(rgba(144,143,139,1),rgba(144,143,139,.58));
      }
      &:nth-child(3) .home-trip .trip-block h1 {
        #gradient > .horizontal(rgba(0,108,202,1),rgba(0,108,202,.58));
      }
      &:nth-child(4) .home-trip .trip-block h1 {
        #gradient > .horizontal(rgba(97,97,48,1),rgba(97,97,48,.58));
      }
      &:nth-child(5) .home-trip .trip-block h1 {
        #gradient > .horizontal(rgba(23,28,26,1),rgba(23,28,26,.58));
      }
      &:nth-child(6) .home-trip .trip-block h1 {
        #gradient > .horizontal(rgba(221,105,45,1),rgba(221,105,45,.58));
      }
      &:nth-child(7) .home-trip .trip-block h1 {
        #gradient > .horizontal(rgba(29,48,82,1),rgba(29,48,82,.58));
      }
    }
    .trips-details {
      border-left: 7px solid #6E9C5C;
      padding-left: 30px;
      h3 {
        font-family: @font-family-sans-serif;
        font-size: 30px;
        font-weight: 700;
        img {
          margin-right: 12px;
        }
      }
    }
  }
  // WATERS
  // ------------------
  .home-waters {
    background: #F7F5F4;
    background-image: url('assets/img/dotted-line-horiz.svg');
    background-position: 0 100%;
    background-repeat: repeat-x;
    .home-water {
      margin-bottom: 30px;
      min-height: 400px;
      &.lg {
        .water-block {
          height: 435px;
        }
      }
      .water-block {
        height: 300px;
        background-size: cover;
        background-position: 50% 50%;
        display: block;
        color: #fff;
        text-decoration: none;
        &:hover {
          h1 {
            background-position: 0 0;
            &:after {
              opacity: 1;
              right: 0;
            }
          }
        }
        h1 {
          font-family: @font-family-sans-serif;
          font-weight: 700;
          font-size: 30px;
          height: 65px;
          line-height: 65px;
          padding: 0 15px;
          background-size: 200% auto;
          transition: background-position 150ms;
          background-position: 100% 0;
          margin: 0;
          #gradient > .horizontal(rgba(70,160,206,1),rgba(70,160,206,.58));
          &:after {
            content: '';
            display: inline-block;
            width: 12px;
            height: 20px;
            background-image: url('assets/img/icon-chevron-r-white.svg');
            background-size: cover;
            margin-left: 15px;
            vertical-align: middle;
            opacity: 0;
            transition: 150ms;
            position: relative;
            right: -30px;
            top: -2px;
          }
        }
      }
      .water-summary {
        background: @brand-beige;
        color: @brand-brown;
        padding: 15px;
        p {

        }
        .water-detail {
          font-size: 16px;
          display: block;
          strong {
            font-family: @font-family-sans-serif;
            font-size: 13px;
            letter-spacing: 2px;
          }
        }
      }
    }
  }
  // SHOP
  // ------------------
  .home-shop {
    hgroup {
      margin-bottom: 60px;
      h2 {
        font-family: @font-family-sans-serif;
        font-size: 42px;
        font-weight: 700;
        margin: 0;
        img {
          margin-right: 18px;
        }
      }
      h3 {
        font-size: 24px;
        line-height: 30px;
        margin: 0;
        padding-left: 65px;
      }
    }
    .shop-btn {
      text-align: right;
    }
    .home-new-items {
      h4 {
        font-family: @font-family-sans-serif;
        font-size: 21px;
        font-weight: 700;
        background-image: url('assets/img/dotted-line-horiz.svg');
        background-repeat: repeat-x;
        background-position: 0 50%;
        margin: 0 0 30px;
        span {
          display: inline-block;
          background: #fff;
          padding-right: 20px;
        }
      }
      .tiles {
        margin-bottom: 0;
      }
    }
  }
  // TESTIMONIALS
  // ------------------
  .home-testimonials {
    padding-bottom: 0;
    .clearfix();
    .section-title {
      margin-bottom: 50px;
    }
    .testimonial-block {
      width: 33%;
      height: 333px;
      float: left;
      perspective: 1000;
      position: relative;
      &:hover {
        z-index: 2;
        .flipper {
          transform: rotateY(180deg);
        }
      }
      .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
      }
      .front,
      .back {
        width: 100%;
        height: 333px;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
      }
      .front {
        z-index: 2;
        /* for firefox 31 */
        transform: rotateY(0deg);
        .testimonial-img {
          background-size: cover;
          height: 100%;
          width: 100%;
        }
      }
      .back {
        background: #332C26;
        color: #fff;
        text-align: center;
        transform: rotateY(180deg);
        .vertical-center-parent();
        .testimonial-content {
          span {
            display: block;
          }
          .testimonial-name {
            font-family: @font-family-sans-serif;
            font-size: 24px;
            font-weight: 700;
            color: @brand-green;
          }
          .testimonial-location {
            font-family: @font-family-sans-serif;
            font-size: 14px;
            font-weight: 500;
          }
          .testimonial-fished {
            font-style: italic;
            font-size: 27px;
          }
          hr {
            width: 70px;
            margin: 15px auto 40px;
            border-top-color: rgba(255,255,255,.45);
          }
          .vertical-center();
        }
      }
    }
  }
}



// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {}

// Up to tablet
@media (max-width: 767px) {}

// Up to landscape phone
@media (max-width: 480px) {}