// home.less
// -----------------------------------------------------------------

.home-hero {
  height: 830px;
  background-image: url('http://placehold.it/2000x800');
  background-size: cover;
  background-position: 50% 50%;
  border-bottom: 7px solid #999490;
}


// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {}

// Up to tablet
@media (max-width: 767px) {}

// Up to landscape phone
@media (max-width: 480px) {}