// page.less
// -----------------------------------------------------------------

main {
  margin: 50px 0;
}
.page-title {
  font-family: @font-family-sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin: 0 0 30px;
}

article.hentry {
  margin-bottom: 30px;
}

.page-sidebar {
  padding-right: 0;
  font-family: @font-family-sans-serif;
  background: @brand-off-white;
  padding: 25px 30px 30px;
  margin-bottom: 30px;
  h2 {
    font-weight: 600;
    font-size: 24px;
    margin: 0 0 20px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      a {
        line-height: 1.75em; 
        font-weight: 500;
      }
      &.current_page_item {
        a {
          color: @text-color;
          text-decoration: none;
          &:hover {
            cursor: default;
            color: @text-color;
          }
        }
      }
    }
  }
}


// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {}

// Up to tablet
@media (max-width: 767px) {

  .page-sidebar {
    padding: 10px 15px 15px;
  }

}

// Up to landscape phone
@media (max-width: 480px) {}