// trips.less
// -----------------------------------------------------------------

.post-type-archive-trip,
.page-template-template-hosted-trips {
  .page-title {
    text-align: center;
    font-size: 60px;
  }
  .page-summary {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 50px;
  }
  .trips {
    list-style-type: none;
    margin: 0 0 50px;
    padding: 0;
    .trip {
      height: 500px;
      color: #fff;
      margin-bottom: 30px;
      .trip-left {
        float: left;
        width: 66%;
      }
      .trip-right {
        float: left;
        width: 33%;
      }
      .trip-photo {
        position: relative;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        height: 500px;
      }
      .trip-content {
        bottom: 0;
        padding: 30px;
        background-image: url('assets/img/bg-booking-banner.png');
        background-size: cover;
        background-position: 50% 50%;
        height: 500px;
        text-shadow: 0 2px 4px rgba(0,0,0,.5);
        .trip-title {
          font-family: @font-family-sans-serif;
          font-size: 40px;
          font-weight: 700;
          margin: 0 0 15px;
        }
        .trip-summary {
          font-weight: 500;
          margin-bottom: 60px;
        }
        .btn-primary {
          font-size: 21px;
          padding: 10px 15px;
          width: 100%;
          text-shadow: none;
          &:after {
            content: '';
            display: inline-block;
            width: 14px;
            height: 24px;
            background-image: url('assets/img/icon-chevron-r-white.svg');
            background-size: cover;
            margin-left: 30px;
            vertical-align: middle;
            top: -2px;
            position: relative;
          }
        }
      }
      .price {
        display: block;
        margin: 0 0 15px;
        font-family: @font-family-sans-serif;
        display: inline-block;
        font-size: 24px;
        .amount {
          font-weight: 700;
        }
      }
      .most-popular {
        position: absolute;
        top: 0;
        left: 0;
        padding: 4px 20px;
        background: @brand-peach;
        font-family: @font-family-sans-serif;
        color: #fff;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        &:before {
          content: '';
          display: inline-block;
          height: 15px;
          width: 15px;
          background-image: url('assets/img/icon-star-white.svg');
          background-size: cover;
          margin-right: 10px;
          vertical-align: middle;
          position: relative;
          top: -1px;
        }
      }
    }
    .trip-callout {
      height: 500px;
      position: relative;
      background-color: @brand-off-white;
      color: @brand-brown;
      margin-bottom: 30px;
      .vertical-center-parent();
      .callout-content {
        text-align: center;
        padding: 30px;
        font-family: @font-family-sans-serif;
        .vertical-center();
        img {
          margin-bottom: 30px;
        }
        h3 {
          font-size: 34px;
          font-weight: 700;
          margin: 0 0 30px;
        }
        p {
          font-weight: 500;
          font-size: 24px;
        }
      }
    }
  }
}


// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {

  .post-type-archive-trip,
  .page-template-template-hosted-trips {
    .trips {
      .trip {
        .trip-left {
          width: 60%;
        }
        .trip-right {
          width: 40%;
        }
      }
    }
  }

}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {

  .post-type-archive-trip,
  .page-template-template-hosted-trips {
    .trips {
      .trip {
        .trip-left {
          width: 50%;
        }
        .trip-right {
          width: 50%;
        }
      }
    }
  }

}

// Up to tablet
@media (max-width: 767px) {

  .post-type-archive-trip,
  .page-template-template-hosted-trips {
    .page-title {
      font-size: 42px;
      img {
        display: none;
      }
    }
    .page-summary {
      font-size: 21px;
      line-height: 30px;
    }
    .trips {
      margin-bottom: 0;
      .trip {
        height: auto;
        .trip-left {
          width: 100%;
          float: none;
        }
        .trip-right {
          width: 100%;
          float: none;
        }
        .trip-photo {
          height: 250px;
        }
        .trip-content {
          height: auto;
          .trip-title {
            font-size: 30px;
          }
          .trip-summary {
            margin-bottom: 15px;
          }
        }
      }
    }
  }

}

// Up to landscape phone
@media (max-width: 480px) {

  .post-type-archive-trip,
  .page-template-template-hosted-trips {
    .page-title {
      font-size: 36px;
    }
    .page-summary {
      font-size: 18px;
      line-height: 27px;
    }
    .trips {
      .trip {
        margin-left: -15px;
        margin-right: -15px;
        .trip-photo {
          height: 250px;
        }
        .trip-content {
          padding: 15px;
          .trip-title {
            font-size: 30px;
          }
          .trip-summary {
            margin-bottom: 15px;
          }
          .btn-primary {
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }

}
