// item-images.less
// -----------------------------------------------------------------


.single-product.woocommerce {
  .images {
    margin-bottom: 30px;
    .flex-control-thumbs {
      display: flex;
      list-style-type: none;
      margin: 30px 0;
      padding: 0;
      flex-flow: row wrap;
      li {
        padding: 7.5px;
        width: 16.66666%;
        border: 1px solid #e6e6e6;
        &.flex-active {
          border-color: @text-color;
        }
        img {
          .img-responsive();
        }
      }
    }
    .woocommerce-main-image {
      display: block;
      img {
        .img-responsive();
        margin: 0 auto;
      }
    }
  }
}


// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {}

// Up to tablet
@media (max-width: 767px) {

  .single-product.woocommerce {
    .images {
      margin-bottom: 0;
      .flex-control-thumbs {
        li {
          // margin: 0 7.5px 15px;
          // display: inline-block;
          // width: 90px;
          // height: 90px;
          // &:first-child {
          //   margin-left: 0;
          // }
          // &:last-child {
          //   margin-right: 0;
          // }
        }
      }
      .woocommerce-main-image {
        margin-bottom: 15px;
      }
    }
  }

}

// Up to landscape phone
@media (max-width: 480px) {

  .single-product.woocommerce {
    .images {
      .flex-control-thumbs {

      }
      .woocommerce-main-image {
        img {
          .img-responsive();
          margin: 0 auto;
        }
      }
    }
  }

}
